body{
    background-color: rgba(255, 0, 0, 0.411);
}
div img{
    height: 100px;
    display: block;
    margin: auto;
    margin-bottom: 50px;
}

label{
    display: block;
    text-align: center;
    color: beige;
}

div{
    display: block;
    padding: 120px 75px;
    background-color: gray;
    width: fit-content;
    margin: auto;
    margin-top: 150px;
    border-radius: 25px;
}

button{
    display: block;
    margin: auto;
    margin-top: 10px


}